body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/images/wood.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header {
  background-image: url("./assets/images/leaves.jpg");
}

#brand {
  font-size: 36px;
  color: #274156;
}

.nav-btn {
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #274156;
  font-size: 20px;
}

.nav-btn:hover {
  background-color: #f9e7e7;
  color: #274156;
  transition: 1s;
}

.navActive {
  background-color: #1c6e8c;
  color: #f9e7e7;
}

#toggle {
  background-color: #274156;
  color: #f9e7e7;
}

#propic-container {
  max-width: 300px;
  max-height: 600px !important;
}

#propic {
  border-radius: 50%;
  max-width: 100%;
  height: fit-content;
}

#about-text {
  max-width: 400px;
}

#project-container,
.about-container,
#contact,
#resume-container {
  border: 4px solid #74d3ae;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.about-container {
  max-width: 900px;
  margin: 0 auto;
}

#project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #274156;
}

#project {
  border: 4px solid #74d3ae;
  max-width: 400px;
}

#project-img {
  border: 4px solid #74d3ae;
}

.card-text {
  color: #1c6e8c;
}

.font-color {
  color: #274156;
}

#contact {
  max-width: 1000px;
}

.label {
  font-size: 21px;
}

#contact-btn {
  border: 3px solid #74d3ae;
  border-radius: 10px;
  background-color: #1c6e8c;
  color: #f9e7e7;
  padding: 10px 30px;
  margin: 0 auto;
}

#contact-btn:hover {
  border-color: #1c6e8c;
  background-color: #605856;
  transition: 0.75s;
}

#resume-container {
  max-width: 700px;
}

.foot-icon {
  color: #f9f9f9;
}
